nav .container .navbar-brand{
height: 50px;
width: 150px;
/* background-color: red; */
}
nav .container .navbar-brand img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}